################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/StandingsGen/StandingsGen/bin/Debug
/StandingsGen/.vs/StandingsGen/v15
/StandingsGen/StandingsGen/obj/Debug
